<footer class="footer py-4">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <h5>FitLife Gym</h5>
                    <p>Your partner in achieving fitness excellence</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5>Opening Hours</h5>
                    <p>Monday - Friday: 6:00 AM - 10:00 PM<br>
                    Saturday - Sunday: 8:00 AM - 8:00 PM</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5>Follow Us</h5>
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p>&copy; 2026 FitLife Gym. All rights reserved.</p>
            </div>
        </div>
    </footer>